* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

/* Navbar */

nav {
    height: 80px;
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 100;
}

.wrap {
    width: 1242px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

nav .wrap {
    position: relative;
}

nav .wrap a .logo {
    height: 30px;
    padding-top: 25px;
}

nav .wrap a .social {
    height: 30px;
    top: 25px;
    right: 30px;
    position: absolute;
}

/* Modal */

.modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 200;
}

.modal .text-box {
    position: absolute;
    max-width: 476px;
    width: 80%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.modal .text-box h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
}

.modal .text-box p {
    font-size: 1em;
    padding: 0 50px;
    text-align: center;
}

.modal .text-box button {
    height: 36px;
    width: 220px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #FCCD01;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
    margin-bottom: 50px;
}

/* Header */

header {
    width: 100%;
    background: url(img/Img.png) no-repeat top center;
    background-size: cover;
    border-top: 1px solid #333;
}

header .wrap {
    margin-top: 150px;
    text-align: center;
    padding-bottom: 100px;
}

header .wrap .logo {
    width: 300px;
}

header .wrap h2 {
    margin-top: 2em;
    color: #FCCD01;
    font-weight: 100;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #FCCD01;
}

header .wrap h1 {
    text-transform: uppercase;
    font-size: 2.8em;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.1em;
}

hr {
    width: 60px;
    color: #FCCD01;
    background-color: #FCCD01;
    border: 2px solid #FCCD01;
    margin: 25px auto;
}

header .wrap p {
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5em;
}

/* Services Section */

#services .wrap h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 90px;
}

#services .wrap .flex-container {
    margin-top: 70px;
    display: flex;
    text-align: center;
}

#services .wrap .flex-container .card {
    padding: 0 15px;
    margin-bottom: 100px;
}

#services .wrap .flex-container .card img {
    height: 76px;
}

#services .wrap .flex-container .card h3 {
    margin-top: 40px;
    text-transform: uppercase;
}

#services .wrap .flex-container .card hr {
    margin: 25px auto 15px auto;
}

/* Contact Section */

#contact {
    width: 100%;
    background-color: #FCCD01;
    position: relative;
}

#contact .right-side-gray {
    display: none;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    background-color: #EFF0F2;
}

#contact .wrap {
    position: relative;
    height: 570px;
}

#contact .wrap .info {
    width: 370px;
    position: absolute;
}

#contact .wrap .info h3 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    padding: 20px 0;
    font-size: 1.25em;
}

#contact .wrap .info hr {
    margin: 0;
    border: 2px solid #fff;
    color: #fff;
    background-color: #fff;
}

#contact .wrap .info p {
    padding-top: 20px;
}

#contact .wrap .img {
    padding: 0 10px;
    width: 435px;
    height: 100%;
    position: absolute;
    left: 380px;
}

#contact .wrap .img img {
    width: 280px;
    height: 440px;
    object-fit: contain;
    position: absolute;
    bottom: 0;

}

#contact .wrap .info h2 {
    padding: 40px 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 2em;
}

#contact .wrap .info .icons {
    width: 300px;
    margin-bottom: 50px;
}

#contact .wrap .info .icons a:nth-of-type(2) img {
    margin-left: 100px;
}

/* Form */

#contact .wrap .contact-form {
    background-color: #EFF0F2;
    width: 435px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 805px;
}

#contact .wrap .contact-form h3 {
    text-transform: uppercase;
    font-weight: 100;
    padding: 20px 0;
    font-size: 1.25em;
    text-align: center;
}

#contact .wrap .contact-form hr {
    margin: 0 auto;
}

#contact .wrap .contact-form form {
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#contact .wrap .contact-form form p {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 3px;
}

#contact .wrap .contact-form form input[type="text"], #contact .wrap .contact-form form input[type="email"], #contact .wrap .contact-form form select {
    width: 100%;
    height: 36px;
    background-color: #EFF0F2;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 16px;
}

#contact .wrap .contact-form form input[type="text"]:invalid, #contact .wrap .contact-form form input[type="email"]:invalid {
    border: 1px solid #E0B4B4;
    background-color: #FFF6F6;
    color: #E0B4B4;
}

#contact .wrap .contact-form form input[type="text"]::-webkit-input-placeholder, #contact .wrap .contact-form form input[type="email"]::-webkit-input-placeholder {
    font-size: 16px;
}

#contact .wrap .contact-form form label {
    font-size: 12px;

}

#contact .wrap .contact-form form label a {
    color: #FCCD01;
    text-decoration: none;
}

#contact .wrap .contact-form form #slide-wrap {
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: 20px;
}

#contact .wrap .contact-form form #slide {
    width: 50px;
    height: 20px;
    position: absolute;
    background-color: #CCC;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s;
}

.checked {
    background-color: #FCCD01!important;
}

#contact .wrap .contact-form form input[type="checkbox"] + label {
    display: block;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: -1px;
    left: 0;
    border: 1px solid #CCC;
    transition: all 0.4s ease;
    cursor: pointer;
}

#contact .wrap .contact-form form input[type="checkbox"] {
    height: 22px;
    width: 22px;
    visibility: hidden;
}

#contact .wrap .contact-form form input[type="checkbox"]:checked + label {
    left: 30px;
}

#contact .wrap .contact-form form #slide-wrap p {
    position: absolute;
    left: 60px;
    top: -20px;
    width: calc(100% - 60px);
    font-size: 12px;
    line-height: 22px;
}

#contact .wrap .contact-form form #slide-wrap p a {
    color: #FCCD01;
    text-decoration: none;
}

#contact .wrap .contact-form form input[type="submit"] {
    height: 36px;
    width: 220px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #FCCD01;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.3s;
}

#contact .wrap .contact-form form input[type="submit"]:hover {
    background-color: #FFE066;
}



#last {
    margin-bottom: 100px;
}

#last .wrap {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#last .wrap .card {
    max-width: 314px;
    padding: 0 15px;
}

#last .wrap .card h3 {
    text-transform: uppercase;
}

#last .wrap .card hr {
    margin-left: 0;
}

#last .wrap .card p {
    font-size: 14px;
}

footer {
    background-color: #333;
    color: #fff;
}

footer .wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer .card {
    width: 192px;
    padding: 0 15px;
    font-size: 14px;
}

footer .card h2 {
    text-transform: uppercase;
    padding-bottom: 24px;
}

footer .card .social img {
    padding-right: 10px;
}

footer .copyright {
    background-color: #fff;
    color: #000;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-transform: uppercase;
}

footer .copyright p {
    width: 1242px;
    margin-left: auto;
    margin-right: auto;
}

footer .copyright span {
    color: #FCCD01;
}

/* Breakpoints */

    /* Medium */

@media screen and (max-width: 1299px) {
    .wrap {
        width: 738px;
    }

    #services .wrap .flex-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #services .wrap .flex-container .card {
        width: 300px;
    }

    #contact .right-side-gray {
        display: block;
    }

    #contact .wrap {
        padding: 0;
    }

    #contact .wrap .info {
        width: 50%;
        text-align: center;
    }

    #contact .wrap .info hr {
        margin: 0 auto;
    }

    #contact .wrap .info p {
        padding: 20px;
    }

    #contact .wrap .info .icons {
        margin-left: auto;
        margin-right: auto;
    }


    #contact .wrap .info .icons a:nth-of-type(2) img {
        margin-left: 50px;
    }

    #contact .wrap .img {
        display: none;
    }

    #contact .wrap .contact-form {
        width: 50%;
        left: 369px;
    }

    footer .copyright p {
        width: 738px;
    }

}

    /* Small */

@media screen and (max-width: 767px) {
    .wrap {
        max-width: calc(100% - 60px);
    }

    #services .wrap .flex-container .card {
        width: 100%;
        max-width: 400px;
    }

    #contact .wrap {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 767px;
    }

    #contact .right-side-gray {
        display: none;
    }

    #contact .wrap .info {
        display: none;
    }

    #contact .wrap .contact-form {
        width: calc(100% - 60px);
        left: 0;
        padding: 30px;
    }

    .modal .text-box {
        width: 100%;
    }

    #last .wrap {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    #last .wrap .card {
        padding: 0;
        max-width: 500px;
    }

    #last .wrap .card h3 {
        margin-top: 50px;
    }

    footer .wrap {
        flex-wrap: wrap;
    }

    footer .wrap .card {
        width: 100%;
    }

    footer .wrap .card h2 {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    footer .copyright p {
        max-width: calc(100% - 60px);

    }

}
